@import (inline) '../../node_modules/zoolander/dist/css/derek.css';

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #10141a !default;
@gray-darker:            #2e3238 !default;
@gray-dark:              #4c5056 !default;
@gray:                   #60646a !default;
@gray-light:             #888c92 !default;
@gray-lighter:           #c4c8ce !default;
@gray-lightest:          #e2e6ec !default;

@brand-primary:         #c40022 !default;
@brand-success:         #7beb9a !default;
@brand-info:            #c4c8ce !default;
@brand-warning:         #ffe970 !default;
@brand-danger:          #ffb16d !default;
