<div id="slider">
  <div class="menu">
    <h3>Elements</h3>
    <ul>
      <li data-pattern="pattern/ias">1</li>
      <li data-pattern="pattern/ias">1</li>
      <li data-pattern="pattern/ias">1</li>
    </ul>
  </div>
  <div class="tab">>></div>
</div>
